@page "/"

@using Project13.Tips.Api.Models
<PageTitle>Project13</PageTitle>


<h1>Tippa</h1>

<div class="container-fluid m-3">
    <div class="row">
        <div class="col m-3">
            <Kupong/>




        </div>
        <div class="col">

        </div>
    </div>
    
</div>

@code {
   

}